<!DOCTYPE html>
<html>
	<head>
		<title>Dungeon Generation</title>
		<style>
			body { background-color:purple; color: #DDDD00; margin: 0; padding:0;}
			#center { 
				width: 100vw;
				height: 100vh;
				display:flex;
				justify-content:center;
				align-items:center;
				text-align:center;
				font-size: 1.5vw;
			}
			fieldset { display: inline; }
			input { font-size: 1vw; }
		</style>
		<meta charset="utf-8">
		<script src="js/dungeonForm.js"></script>
	</head>
	<body>
		<div id="center">
		<div>
			<form action="create" id="dungeon-form" onsubmit="return checkForm();" method="POST">
				<fieldset>
					<legend>Dungeon Properties</legend>
					Width <br/>
					<input type="number" name="width" value=200 min=1 required/> <br/><br/>
					Height <br/>
					<input type="number" name="height" value=100 min=1 required/><br/><br/>
					Name <br/>
					<input name="name" value="Dungeon" required/><br/><br/>
				</fieldset>
				<fieldset>
					<legend>Room Properties</legend>
					Number of Rooms<br/>
					<input type="number" name="numRooms" value=20 min=1 required/><br/><br/>
					Room Min Width<br/>
					<input type="number" name="roomMinWidth" value=4 min=1 required/><br/><br/>
					Room Max Width<br/>
					<input type="number" name="roomMaxWidth" value=8 min=2 required/><br/><br/>
					Room Min Height<br/>
					<input type="number" name="roomMinHeight" value=4 min=1 required/><br/><br/>
					Room Max Height<br/>
					<input type="number" name="roomMaxHeight" value=8 min=2 required/><br/><br/>
				</fieldset>
				<br/><br/>
				<input type="submit" value="Submit" />
			<form>
		</div>
		</div>
	</body>
</html>