<!DOCTYPE html>
<html>
	<head>
		<title>Dungeon Generation</title>
		<style>
			#viewport {
				background-color:black;
				overflow: scroll;
				margin: 0 auto;
				width: 50%;
				height: 500px;
			}
			
			.empty { visibility: hidden; }
			#controls { white-space: nowrap; text-align: center; margin: 0 auto; }
		</style>
		<meta charset="utf-8">
		<script src="https://cdn.rawgit.com/konvajs/konva/0.11.1/konva.min.js"></script>
		<script src="js/sticky.js"></script>
		<script type="text/javascript">var roomTile = {x:3, y:3}, pathTile = {x:3, y:2}, wallTile = {x:5, y:1}, dungeon = <%=dungeon%>;</script>
		<script src="js/dungeon.js"></script>
		<script src="js/controls.js"></script>
		<script src="js/multiplayer.js"></script>
	</head>
	<body>
		<div id="viewport"><div id="grid"></div></div>
		<div id="controls">
			<button type="button" class="empty">&#8592;</button> <button type="button" onclick="upButton()">&#8593;</button> <button type="button" class="empty">&#8594;</button><br/>
			<button type="button" onclick="leftButton()">&#8592;</button> <button type="button" onclick="downButton()">&#8595;</button> <button type="button" onclick="rightButton()">&#8594;</button>
		</div>
	</div>
	</body>
</html>