<!DOCTYPE html>
<html>
	<head>
		<title>Dungeon Generation</title>
		<style>
			#viewport {
				background-color:black;
				overflow: scroll;
				margin: 0 auto;
				width: 50%;
				height: 500px;
			}
			
			.empty { visibility: hidden; }
		</style>
		<meta charset="utf-8">
		<script src="https://cdn.rawgit.com/konvajs/konva/0.11.1/konva.min.js"></script>
		<script src="js/sticky.js"></script>
		<script type="text/javascript">var roomTile = {x:3, y:3}, pathTile = {x:3, y:2}, wallTile = {x:5, y:1}, dungeon = <%=dungeon%>;</script>
		<script src="js/dungeon.js"></script>
		<script src="js/controls.js"></script>
		<script src="js/multiplayer.js"></script>
	</head>
	<body>
		<div id="viewport"><div id="grid"></div></div>
	</div>
	</body>
</html>