<!DOCTYPE html>
<html>
	<head>
		<title><%=title%> Dungeon Loading</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <script src="/js/loading.js"></script>
    <script>var name="<%-title%>"</script>
	</head>
	<body>
		<div id="center">
      <h1>Loading <%=title%> Dungeon...</h1>
      <br/>
      <p>This may take a while depending on how big your dungeon is (Up to 5 whole min!). It will continue to load even without you so you can leave and comeback later (If you are really that impatient).</p>
      <button onclick="document.location='/';">Return to Lobby</button>
		</div>
	</body>
</html>
