<!DOCTYPE html>
<html>
	<head>
		<title>Dungeon Generation</title>
		<link rel="stylesheet" type="text/css" href="/css/menu.css">	
    <meta charset="utf-8">
		<script src="/js/lobby.js"></script>
	</head>
	<body>
		<div id="center">
      <h1>Dungeon Generation</h1>
      <table align="center" id="rooms">
        <tr>
          <th>Dungeon Name</th>
          <th>Area</th>
          <th>Number of Players</th>
          <th>Loading?</th>
          <th></th>
        </tr>
      </table>
      <div>
      <button onclick="document.location = '/new/'">Create New Dungeon</button>
   </div>
	</body>
</html>
