<!DOCTYPE html>
<html>
	<head>
		<title><%=title%> Dungeon Not Found</title>
		<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
  </head>
	<body>
		<div id="center">
      <h1><%=title%> Dungeon Was Not Found!</h1>
      <br/>
      <p>Maybe you mistyped the name or misspelled it? Otherwise I dunno where it went!</p>
      <button onclick="document.location = '/';">Back To Lobby</button>
		</div>
	</body>
</html>
